.color-chip {
  width: 100%;
  padding: 1.25rem 1.25rem 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  

  &__controls {
    display: flex;
    flex-direction: row;
    gap: 0;
    margin-top: -0.25rem;
    opacity: .25;
    transition: opacity 0.2s ease-in;

    .dark-bg svg {
      stroke: #fff;
      transition: stroke 0.2s ease-in;
    }

    .dark-bg:hover svg {
      stroke: #000;
    }
  }

  &:hover &__controls {
    opacity: 1;
  }

  &__info {
    p {
      margin-bottom: 0;
    } 
  }
}