.color-chip-container {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background: white;
}

.color-chip {
  width: 100%;
  height: 100%;
  padding: 1.5rem 1.5rem 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &__controls {
    display: flex;
    flex-direction: row;
    gap: .25rem;
    opacity: .1;
    transition: opacity 0.2s ease-in;
  }

  &:hover &__controls {
    opacity: 1;
  }

  &__info {
    p {
      margin-bottom: 0;
    } 
  }

  &--title {
    font-weight: 600;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }
}